<main class="solidBorder container" style="padding-top: 50px;">
  <div class="jumbotron text-left">
<h2>Profile Highlights</h2>
<section class="content">
<ul>
<li>Applies knowledge and expertise to oversee aspects of technical and project management for high priority, complex IT projects</li>
<li>Manage and coordinate activities to ensure the goals and objectives of projects are completed on time and to standard or above</li>
<li>Collaborate with business leads and stakeholders developing and maintaining strong congenial relationship linkages to produce exemplary results</li>
<li>A team lead who takes the initiative, brainstorms and inspires employee optimization</li>
<li>Global experience; awarded Silver and Team Player Executive Leadership awards</li>
</ul>
</section>
</div>
</main>