<main class="solidBorder container" style="padding-top: 20px;">
    <div class="jumbotron text-left">
  <h2>Personal Details</h2>  
  <table class="table table-striped">
    <thead>
  <tr>
  <th scope="col">Title</th>
  <th scope="col">Description</th>
  <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let personalBioObj of personalBiolist; index as i">
  
          <td>{{ personalBioObj.title }}</td>
          <td>{{ personalBioObj.desc }}</td>
          <td><button type="button" class="btn btn-secondary" (click)="DeleteHandler(i)">Delete</button></td>
      </tr>
  
  </tbody>
  </table>
  <form id="project" class="text-left" (ngSubmit)="newPersonalBioFormHandler()" ngNativeVaidate>
        Title:
        <input id="title" class="form-control" type="text" name ="title" [(ngModel)]="personalBioObj.title" >
        <br>Description:
        <input id="desc" class="form-control" type="text" name ="desc" [(ngModel)]="personalBioObj.desc">
        <br>
        <button type="submit" class="btn btn-primary"> Add</button>
  </form>
  </div>
  </main>